{% extends "layout.twig" %}
{% block content %}

<div class="bg-info px-5 d-flex justify-content-start" style="height: 100px;">
    <img src="data:image/jpeg;base64,{{cinema.logo}}" style="height: 100px; object-fit: contain;"   class=" img-responsive  rounded-circle" alt="">
    <h4 class="px-5 pt-4" > {{cinema.nom_cinema}}</h4>
</div>


<div class="alert alert-success" role="alert">
    <p>Planning ajouter avec success</p>
</div>

<div class=" container d-flex justify-content-start flex-wrap my-4">
  {% for film  in films %}
    <div class="me-3 ms-3">
      <div class="bg-warning text-center " style="font-size: 30px; height: 75px;width: 275px;box-shadow: black;"> {{date[loop.index -1]}}</div>
      <div class="card-body bg-secondary d-flex  " style="width: 250px;">
        <div >
          <img class=" img-responsive " style="object-fit: contain;"  src="data:image/jpeg;base64,{{film.photo}}" height="120px" width="100px" alt="Card image cap">
        </div>
        <div class="card-text " style="color: white;">
                <div>{{film.titre}}</div>
                <div>{{salle[0]["nom_salle"]}}</div>
                <div>{{qualite[loop.index -1]}}</div>
                <div>{{film.durre}}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



{% endblock %}